[user]
	email = matt@mattwyskiel.com
	name = Matthew Wyskiel
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	editor = nvim
